<ion-list *ngIf="(viewState$ | async) as vs" class="card product">
  <ion-list-header>
    <ion-label>Line Items</ion-label>
  </ion-list-header>
  
  <ion-list>
    <ion-item-sliding *ngFor="let item of vs?.lineItems">
      <ion-item>
        <ion-label>
          {{ item?.name }}
        </ion-label>

        <div>
          <ion-button fill="solid" shape="round" (click)="decrementItem(item)">
            -
          </ion-button>
          {{ item?.quantity }}
          <ion-button fill="solid" shape="round" (click)="incrementItem(item)">
            +
          </ion-button>
        </div>
        x
        <ion-label>
          {{ item?.price }}
        </ion-label>
        <ion-note slot="end">
          {{ item?.quantity * item?.price }}
        </ion-note>
        <!-- <ion-buttons slot="end">
          <ion-button (click)="removeLineItem(item)" expand="block" fill="outline" shape="round">
            <ion-icon slot="icon-only" name="remove"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option side="start" color="danger" (click)="removeFromList(item)">
          <ion-icon class="fa fa-trash-o"></ion-icon>
          Remove from List
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-list>

 