<auth-header [pageTitle]="pageTitle"></auth-header>

<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-col class="top-col">
    <ion-img [src]="authHeader.image"></ion-img>
  </ion-col>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-card-header>
          <ion-card-subtitle *ngIf="authHeader.subtitle">
            {{ authHeader.subtitle }}
          </ion-card-subtitle>
          <ion-card-title class="ion-margin-top">
            {{ authHeader.title }}
          </ion-card-title>
        </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="forgotPasswordForm">
          <ion-list class="inputs-list" lines="full">
            <ion-item class="input-item">
              <ion-input type="text" placeholder="Username" formControlName="username" clearInput autocapitalize="off"
                inputmode="text"></ion-input>
            </ion-item>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.username">
                <div class="error-message"
                  *ngIf="forgotPasswordForm.get('username')?.hasError(validation.type) && (forgotPasswordForm.get('username')?.dirty || forgotPasswordForm.get('username')?.touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="retrievePassword()" class="login-btn" type="submit" expand="block"
          [disabled]="!forgotPasswordForm.valid">
          Reset your password
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer eqmHideWhenKeypadVisible @scaleHeight>
  <ion-toolbar>
    <ion-row class="other-auth-options-row ion-text-center">
      <ion-col size="6">
        <ion-button class="forgot-btn" fill="outline" [routerLink]="['/login']">
          Already registered?
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="signup-btn" fill="outline" [routerLink]="['/register']">
          Sign Up!
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="legal-stuff">
          By creating an account you agree to our
          <ion-text color="primary">
            <a class="legal-action" (click)="showPrivacyModal()">Privacy Policy</a>
          </ion-text>
          and
          <ion-text color="primary">
            <a class="legal-action" (click)="showTermsModal()">Terms of use</a>.
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>